<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>mainpage</title>
</head>
<body style="text-align: center">

<h1> Hello welcome to our Website Let's make a Plan</h1>
<form action="login" method="post">
<!--    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
<div>
    <label for="email"> please Insert Your ID or Email</label>
    <input type="text" id="email" name="email"  placeholder="Please insert Your Email" /></br>
</div>

<div>
    <label for="pw"> please Insert Your pw</label>
    <input type="password" id="pw" name="pw"  placeholder="insert password" /></br>
</div>
    <button type="submit"> login </button>
    </form>





<p> If you wanna Sign Up click here</p>
<input type="button" onclick="location.href='/checkplan/join';" value="Join Us!!">

<p> If you wanna Finding Your Email or Id</p>
<input type="button" onclick="location.href='/find/emailPage';" value="Find">

</body>
</html>