<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ByQuestion</title>
</head>
<body style="text-align: center">
<h2>Please Choose Your Question and Insert the answer </h2>
<form th:action="@{/find/result/byQuestion}" method="post">
    <div>
        <label for="answer">Question</label>
        <select name="context" id="context">
            <option value="What is your favorite food">What is your favorite food</option>
            <option value="What is your body secret">What is your body secret</option></br>
        </select>
    </div>
    <div>
        <label for="answer">question Answer</label>
        <input type="text" id="answer" name="answer"></br>
    </div>
    <div>
        <label for="birthday">birthday</label>
        <input type="date" id="birthday" name="birthday" /></br>
    </div>

        <input type="submit" class="buttons" value="Find!"/>
</form>
    <input type="button" onclick="location.href='/checkplan/mainpage';" value="Go to Main page">
</body>
</html>