<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find Email And Id</title>
</head>
<body>
<p> Finding By Nick Name </p>
<input type="button" onclick="location.href='/find/byNickName';" value="Find">

<p> Search by member registration question </p>
<input type="button" onclick="location.href='/find/byQuestion';" value="Find">

<p> Search Pw by Email or Id and Question ! </p>
<input type="button" onclick="location.href='/find/pwByInfo';" value="Find"></br>

<p> Go to Main Page </p>
<input type="button" onclick="location.href='/checkplan/mainpage';" value="Go to Main page">

</body>
</html>